:root {
  --primary: hsl(39, 30%, 66%);
  --primary-dark: hsl(39, 30%, 44%);
  --primary-grad: linear-gradient(to left top, #beaf84, #b39f71, #a98e5f, #9e7e4d, #946e3d);
  --primary-grad-highlight: linear-gradient(to left top, #d5c598, #c9b588, #bda579, #b2956a, #a6865c);
}

*, * * {
  position: relative;
  box-sizing: border-box;
}

a, a:visited, a:active {
  margin: .1em;
  box-sizing: content-box;
  overflow: hidden;
  color: hsl(44, 11%, 33%);
  font-weight: bolder;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

a:active, a:focus, a:hover { 
  color: hsl(44, 14%, 22%);
  text-decoration: underline;
  filter: drop-shadow(0 1px 3px rgba(0,0,0,.14));
}

html, body {
  min-height: 100vh;
  min-height: calc(100vh + 100px);
}

body {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 180px;
  padding-bottom: 1.5em;
}

h1, h2 {
  font-family: 'Times New Roman', Times, serif;
  color: hsl(0, 0%, 24%);
}

header.hero {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: .5em;
  background: var(--primary);
  width: 100%;
}

header.hero > h1 {
  font-family: 'Righteous', 'Times New Roman', Times, serif;
  font-size: 3.8em;
  margin: .15em;
}

section.authbtn {
  width: 35px;
  height: 35px;
  margin: 5px;
  line-height: 35px;
  font-size: 1.15em;
  border-radius: 4px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1px 8px -1px rgba(0, 0, 0, .18);
}

section.authbtn::before {
  margin: 0 2px;
}

section.auth {
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: 1fr 48px;
  grid-template-rows: 1fr;
  grid-template-areas: "inputs btn";
  grid-gap: 0 5px;
  align-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px;
  padding: 5px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 8px -1px rgba(0, 0, 0, .18);
}

div.inputs {
  width: 100%;
  grid-area: inputs;
}

div.inputs>div {
  flex: 0 1 auto;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  box-sizing: content-box;
  max-width: 195px;
}

div.inputs>div:first-of-type {
  margin-bottom: 5px;
}

div.inputs>div>label {
  font-size: .8em;
  margin: 0 0 1px 2px;
  color: hsl(0, 0%, 40%);
}

section.auth input {
  display: block;
  overflow: hidden;
  border: 0;
  outline: 0;
  background: hsl(0, 0%, 94%);
  border-radius: 3px;
  padding: 4px 2px;
  width: 100%;
  transition: all 140ms ease-in;
}

section.auth input:invalid {
  border-left: 2px solid red;
  padding-left: 4px;
}

section.auth input:placeholder-shown,
section.auth input:indeterminate {
  border-left: 0;
  padding-left: 2px;
}


section.auth input:focus {
  box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, .14);
}

section.auth>button {
  grid-area: btn;
  border: 0;
  outline: 0;
  padding: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2em;
  width: 48px;
  height: 48px;
  background-color: var(--primary);
  background: var(--primary-grad);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .18);
  cursor: pointer;
  transition: all 130ms ease-in-out;
}

section.auth>button:hover {
  background: var(--primary-grad-highlight);
}

section.auth>button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .14);
}

body>main {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
  grid-template-rows: 1fr;
  grid-gap: .3em .3em;
  grid-template-areas: "list view";
  grid-auto-flow: row;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding: .3em;
  width: 100%;
}

.writlist {
  grid-area: list;
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  border-radius: 4px;
  margin: .3em;
  padding: .3em;
  max-width: 300px;
  width: auto;
  background: var(--primary);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .14);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .14));
}

.writlist>.writ {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto;
  grid-template-areas: ". .";

  background: #fff;
  border-radius: 4px;
  padding: .3em;
  margin-bottom: .3em;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .14));
  cursor: pointer;
}

.writlist>.writ:last-of-type {
  margin-bottom: 0;
}

.writlist>.writ>.title {
  text-align: center;
  display: inline-block;
}

.writlist>.writ>.created {
  font-size: .7em;
}

.writdisplay,
.writview {
  grid-area: view;
  max-width: 700px;
  margin: .3em auto;
}

.writview>header>span,
.writdisplay>header>span {
  margin: .3em;
}

.writview>article,
.writdisplay>article {
  padding: .3em;
  margin: .3em;
  text-align: left;
}

.writview>footer,
.writdisplay>footer {
  padding: .3em;
  text-align: center;
}

.writview .tags,
.writdisplay .tags {
  display: inline-block;
  text-align: center;
  padding: .3em;
  margin: .3em;
  border-radius: 4px;
}

.writview .tags>.tag,
.writdisplay .tags>.tag {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: .3em;
  padding: .3em;
  border-radius: 4px;
  background: hsl(0, 0%, 96%);
  color: var(--primary-dark);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .12);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .14));
}

body > footer {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  background: var(--primary);
  color: black;
  width: 100%;
  padding: .5em;
  text-align: center;
}

.foot-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1.5fr;
  grid-template-areas: "." ".";
  max-width: 250px;
}

.foot-section > header {
  padding: .5em;
  font-size: 1.15em;
  text-decoration: underline;
}

.foot-section > div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.foot-section a > span {
  margin-left: .5em;
  padding: .25em;
}

@media all and (max-width: 780px) {
  body>main {
    display: flex;
    justify-content: space-around;
  }
}