<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if .description}}
  <meta name="description" content="{{.Description}}">
  <meta property="og:description" content="{{.Description}}">
  {{end}}
  <meta name="keywords" content="{{range $i, $el := .Tags}}{{if $i}},{{end}}{{$el}}{{end}}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:url" content="{{.URL}}">
  <link rel="canonical" href="{{.URL}}">
  <meta property="article:published_time" content="{{.CreateDate}}">
  {{if .ModifiedDate}}
  <meta property="article:modified_time" content="{{.ModifiedDate}}">
  {{end}}
  <meta property="article:tag" content="{{range $i, $el := .tags}}{{if $i}},{{end}}{{$el}}{{end}}">
  <title>{{.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <link rel="stylesheet" href="/css/prism-default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <section class="writview">
    <header>
      <h1>{{.title}}</h1>
      <span class="created">{{.Created}}</span>
      <span>/</span>
      <span class="author">{{.author}}</span>
    </header>
    <article class="content markdown-body">{{.content}}</article>
    <footer>
      <div class="tags">
        {{range .tags}}<span class="tag">{{.}}</span>{{end}}
      </div>
    </footer>
    {{if .injection}}
    <div class="injection">{{.injection}}</div>
    {{end}}
  </section>
</body>
</html>